.featured_products {
    padding: 5rem 5rem 0 5rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
    height: 665px;
    width: 1920px;

    .flash_sale {
        background-color: $color-gray-3;
        width: 820px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: $font-weight-extra-bold;
            color: $color-white;
            margin-bottom: 2rem;
        }
    }

    .flash_cards {
        border: 2px solid $color-gray-3;
        width: 820px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}