.__footer {
    margin-top: -8rem;
    border-top: 1px solid $color-gray-3;
    background-color: $color-gray-1;
    height: 110px;
    width: 1920px;

    .container {
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        i {
            margin-top: 1rem;
            margin-left: 1rem;
        }
        p {
            color: $color-gray-4;
            margin-top: 1rem;
        }
    }
}