// fixa borderfärgen vid hover

.light_btn {
    background-color: $color-white;
    color: $color-dark-1;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 190px;
    transition: 0.2s ease-in-out;
    
    .btn_border_top {
        display: flex;
        justify-content: center;
        border: 2px solid $color-dark-1;
        border-bottom: none;
        border-right: none;
        margin-left: 0.7rem;
        margin-top: -1.2rem;
        height: 20px;
        width: 20px;
    }
    .btn_border_bottom {
        display: flex;
        justify-content: center;
        border: 2px solid $color-dark-1;
        border-top: none;
        border-left: none;
        margin-right: 0.7rem;
        margin-top: 1.2rem;
        height: 20px;
        width: 20px;
    }

    p {
        font-size: $font-size-16;
        margin-top: 1rem;
    }

    &:hover {
        background-color: $color-dark-1;
        color: $color-white;
    }

}